includes:
    - phpstan-baseline.neon

parameters:
    level: 6
    phpVersion: 80200
    paths:
        - cfg
        - lib
        - custom_config.inc.php
        - login.php
    excludePaths:
        - vendor/*
        - third_party/*
        - third-party/*
        - OLD-install/*
        - lib/api/xmlrpc/v1/sample_clients/*
        - lib/functions/code_testing/*
    ignoreErrors:
        - '#Function mysql_.*? not found#'
        - '#Function mssql_.*? not found#'
        - '#Path in require_once\(\) .* is not a file or it does not exist#'
        - '#Path in include_once\(\) .* is not a file or it does not exist#'
        - '#Syntax error#'
    reportUnmatchedIgnoredErrors: false